@charset "utf-8";
/* CSS Document */

body{
   
	
background-image: url(../images/bg_page.png);
font-family:Verdana, Arial, Helvetica, sans-serif ;
    font-weight: bold;
font-variant:small-caps;
}

#apDiv1{
	width: 60%;
	right: 0px;
	min-height: 560px;
	margin: 0px auto;
	width: 500px;
	position: relative;
	width:1043px;
	height:775px;
	z-index:1;
	left: -1px;
	top: 20px;
	background-image:url(../images/trasparencia0.png)
}
#TransparenciaInstructor{
	width: 60%;
	right: 0px;
	min-height: 560px;
	margin: 0px auto;
	width: 500px;
	position: relative;
	width:1043px;
	height:775px;
	z-index:1;
	left: -1px;
	top: 20px;
	background-image:url(../images/trasparencia0.png)
}

#apDiv2 {
	position:absolute;
	width:1000px;
	height:80px;
	z-index:3;
	left: 30px;
   margin: 0px auto;
	top: 38px;
}
#apDiv3 {
	position:absolute;
	width:680px;
	height:37px;
	z-index:4;
	left: 81px;
	top: 134px;
	border:#FF0000;
}




#apDiv6 {
	position:absolute;
	width:443px;
	height:37px;
	z-index:4;
	left: 312px;
	top: 133px;
	border:#FF0000;
}

#apDiv7 {
	position:absolute;
	width:680px;
	height:37px;
	z-index:4;
	left: 88px;
	top: 135px;
	border:#FF0000;
}

#apDiv4 {
	position:absolute;
	width:855px;
	height:569px;
	z-index:6;
	left: 95px;
	top: 187px;
	border:#333333;
	background-image:url(../images/margen.png);
	}

#capaInstructor {
	position:absolute;
	width:853px;
	height:534px;
	z-index:6;
	left: 98px;
	top: 225px;
	border:#333333;
	background-image:url(../images/margenInstructor.png);

}

#apDiv5 {
	position:absolute;
	width:824px;
	height:537px;
	z-index:7;
	left: 15px;
	top: 15px;
}


#margenInstructor {
	position:absolute;
	width:824px;
	height:504px;
	left: 15px;
	top: 15px;
}

#TransparenciaCrearTest{
	width: 60%;
	right: 0px;
	min-height: 560px;
	margin: 0px auto;
	width: 500px;
	position: relative; 	
	width:1043px;
	height:3683px;
	z-index:1;
	left: -1px;
	top: 20px;
	background-image: url(../images/TrasparenciaCreaTest.png)
}

#margenCrearTest {
	position:absolute;
	width:824px;
	height:3358px;
	z-index:7;
	left: 15px;
	top: 15px;
	}

#capaCrearTest {
	position:absolute;
	width:853px;
	height:3395px;
	z-index:6;
	left: 93px;
	top: 230px;
	border:#333333;
	background-image:url(../images/margenCrearTest.png);
}
#margenAdmin {
	position:absolute;
	width:700px;
	height:500px;
	z-index:6;
	left: 250px;
	top: 200px;
	border:  7px  double #357CCA;
    border-radius:7px;
    padding:10px;
   overflow: scroll ;
}

#Login {
	position:absolute;
	width:265px;
	height:72px;
	z-index:7;
	left: 20px;
	top: 200px;
    color: #000000;
	<!---->
	font-size: 12px;
    border:#333333;
    bgcolor:#333333;
}

#LoginInstructor {
	position:absolute;
	width:265px;
	height:72px;
	z-index:7;
	left: 20px;
	top: 170px;
    color: #000000;
	<!---->
	font-size: 12px;
    border:#333333;
    bgcolor:#333333;
}

#LoginTest {
	position:absolute;
	width:290px;
	height:72px;
	z-index:8;
	left: 17px;
	top: 17px;
}
#CapaFormulario {
	position:absolute;
	width:710px;
	height:517px;
	z-index:7;
	left: 13px;
	top: 14px;
}
#menuAdmin {
	position:absolute;
	width:154px;
	height:225px;
	z-index:7;
	left: 80px;
	top: 290px;
}

#formularioTest {
	position:absolute;
	width:819px;
	height:398px;
	z-index:7;
	left: 17px;
	top: 94px;
}
#next {
    border: 1px solid #ccc;
    color: #666;
    font-size: 15px;
    margin-top: 10px;
    overflow: hidden;
    padding-left: 40px;
    background: transparent url(../images/Icons/flecha.png) 10px 60% no-repeat;
    width:625px;
	height:30px;
}

#menuUsuario{
 position:absolute;
	width:299px;
	height:37px;
	z-index:4;
	left: 385px;
	top: 132px;
}